doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="styles.min.css")
    script(src="main.min.js", defer) 
    title Document
  body
    div(class="flex min-h-svh flex-col")
      block header
        header header
      block content
        main content
      block footer
        footer footer
